@model News
@{
    var admin = LoginHelper.GetCurrentAdmin();
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var isFormPhone = WebHelper.CheckAgent();
    var role = (Role)ViewBag.Role;
    string title = string.Empty;
    bool canEdit = ViewBag.CanEdit;
    if (Model.ID.IsNotNullOrEmpty())
    {
        if (Model.UserID.Equals(admin.ID))
        {
            if (Model.State == NewsState.None || Model.State == NewsState.Reject)
            {
                title = "编辑";
                canEdit = true;
            }
        }
        if (!admin.IsSuperAdmin)
        {
            if (role.AuditState == Model.AuditState)
            {
                canEdit = true;
            }
        }
        else
        {
            canEdit= false;
        }
    }
    else
    {
        canEdit = true;
        title = "投稿";
    }
    ViewBag.Title = title;
}

<div class="admin-content-body" style="@(isFormPhone?"margin-top:50px":"")">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><a href="/news/index"><strong class="am-text-primary am-text-lg">稿件管理</strong> </a>/ <small>@title</small></div>
    </div>
    <hr>
    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">标题<strong class="am-text-danger am-text-sm">*</strong></label>
                    <div class="am-u-sm-9">
                        <input type="text" name="Title" placeholder="标题" maxlength="64" value="@(Model.Title)" @(!canEdit ? "readonly" : "" )>
                    </div>
                </div>


                <div class="am-form-group">
                    <label for="user-email" class="am-u-sm-3 am-form-label">类型<strong class="am-text-danger am-text-sm">*</strong></label>
                    <div class="am-u-sm-9">
                        <select name="NewsTypeID" @(!canEdit ? "disabled": "" )>
                            @if (Model.TypeList != null && Model.TypeList.Count != 0)
                            {
                                foreach (var item in Model.TypeList)
                                {
                                    <option value="@item.Value" @(Model.NewsTypeID.IsNotNullOrEmpty() && Model.NewsTypeID.Equals(item.Value) ? "selected" : "" )>@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                @if (Model.UserID.IsNotNullOrEmpty())
                {
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">作者信息</label>
                        <div class="am-u-sm-3 am-u-end">
                            <span class="am-icon-user am-text-lg" id="userInfoSpan" userId="@(Model.UserID)"></span>
                        </div>
                    </div>
                }
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">见刊笔名<strong class="am-text-danger am-text-sm">*</strong></label>
                    <div class="am-u-sm-9">
                        <input type="text" name="PenName" placeholder="见刊笔名" maxlength="64" value="@((Model.ID.IsNullOrEmpty()?(admin.PenName.IsNullOrEmpty()?admin.RealName:admin.PenName): Model.PenName))" @(!canEdit ? "readonly": "" )>
                    </div>
                </div>
                @if (Model.ID.IsNotNullOrEmpty())
                {
                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">投递部门<strong class="am-text-danger am-text-sm">*</strong></label>
                        <div class="am-u-sm-9">
                            <select name="DepartmentID" onchange="loadChildren(this)" @(!canEdit ? "disabled" : "")>
                                <option value="-1" @(Model.DepartmentID.IsNullOrEmpty() ? "selected" : "")>请选择</option>
                                @if (Model.DepartmentList != null && Model.DepartmentList.Count != 0)
                                {
                                    foreach (var item in Model.DepartmentList)
                                    {
                                        <option value="@item.Value" @(Model.DepartmentID.IsNotNullOrEmpty() && Model.DepartmentID.Contains(item.Value) ? "selected" : "")>@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group" id="childrenDiv" style="@(Model.ChildrenDepartmentList != null && Model.ChildrenDepartmentList.Count > 0 ? "" : "display:none;")">
                        <label for="user-email" class="am-u-sm-3 am-form-label">小组<strong class="am-text-danger am-text-sm">*</strong></label>
                        <div class="am-u-sm-9">
                            <select name="ChildrenDepartmentID" @(!canEdit ? "disabled" : "")>
                                @if (Model.ChildrenDepartmentList != null && Model.ChildrenDepartmentList.Count != 0)
                                {
                                    foreach (var item in Model.ChildrenDepartmentList)
                                    {
                                        <option value="@item.Value" @(Model.DepartmentID.IsNotNullOrEmpty() && Model.DepartmentID.Contains(item.Value) ? "selected" : "")>@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                }
                else
                {
                    <div class="am-form-group" id="childrenDiv">
                        <label for="user-email" class="am-u-sm-3 am-form-label">投递部门<strong class="am-text-danger am-text-sm">*</strong></label>
                        <div class="am-u-sm-9">
                            <input type="hidden" name="DepartmentFlag" />
                            <input type="text" name="DepartmentFlagSelect" />
                        </div>
                    </div>
                }
                @if (isFormPhone)
                {
                    <div class="am-form-group">
                        <div class="am-u-sm-12">
                            <textarea name="Content" rows="8" @(!canEdit ? "readonly" :"" )>@(Html.Raw(Model?.Content))</textarea>
                        </div>
                    </div>
                    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                    <div class="am-form-group" style="@(!canEdit? " display:none":"" )">
                        <label for="user-email" class="am-u-sm-3 am-form-label">图片</label>
                        <div class="am-u-sm-9">
                            <a id="imageFile" class="am-icon-plus am-text-lg" style="line-height:30px;">上传图片</a>
                            <input type="hidden" name="Path" />
                        </div>
                    </div>

                }
                else
                {
                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">内容</label>
                        <div class="am-u-sm-9">
                            <input type="hidden" name="Content" />
                            <script class="txtContent" type="text/plain" style="height:300px;">
                            </script>
                        </div>
                    </div>
                }
                <div class="am-form-group" style="@(Model.Paths.IsNullOrEmpty() ? "display:none" : "")">
                    <label for="user-email" class="am-u-sm-3 am-form-label">稿件图片</label>
                    <div class="am-u-sm-9" id="div_imageShow">
                        @if (Model.Paths.IsNotNullOrEmpty())
                        {
                            foreach (var item in Model.Paths.Split(','))
                            {
                                <div class="am-u-lg-4">
                                    @if (canEdit)
                                    {
                                        <a class="am-close am-icon-times am-u-sm-1" style="opacity:1"><img class="am-u-lg-3" data-src="@(item)" src="@(item)" style="width:150px;" /></a><hr />
                                    }
                                    else
                                    {
                                        <img class="am-u-lg-3" data-src="@(item)" src="@(item)" style="width:150px;" /><hr />
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
                <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                @if (Model.ID.IsNotNullOrEmpty() && Model.Logs != null && Model.Logs.Count > 0)
                {
                    if (isFormPhone)
                    {
                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-12 am-form-label">审核记录</label>
                        </div>
                    }
                    <div class="am-form-group">
                        @if (!isFormPhone)
                        {
                            <label for="user-email" class="am-u-sm-3 am-u-end am-form-label">审核记录</label>
                        }
                        <div class="am-u-md-9">
                            <div class="am-panel am-panel-default">
                                <div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
                                    <ul class="am-comments-list admin-content-comment">
                                        @foreach (var item in Model.Logs)
                                        {
                                            <li class="am-comment">
                                                <div class="">
                                                    <header class="am-comment-hd">
                                                        <div class="@(isFormPhone?" am-text-sm":"am-text-lg")"><a href="#" class="am-text-success">@item.AdminName</a><a href="#" class="am-text-warning"> @item.RoleName</a>  于:<time>@item.CreatedTime.ToString("yyyy-MM-dd hh:mm")</time> 操作：<span class="am-text-danger">@(item.Code.GetDescription()) </span></div>
                                                    </header>
                                                    @if (item.Remark.IsNotNullOrEmpty())
                                                    {
                                                        <div class="am-comment-bd" style="@(isFormPhone?" padding:2px;":"")">
                                                            <p class="am-text-success">意见:@(item.Remark)</p>
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="am-form-group">
                    <div class="am-u-sm-4 am-u-sm-push-2">
                        <button id="saveBtn" type="button" class="am-btn am-btn-lg am-btn-success">保存</button>
                    </div>
                    <div class="am-u-sm-4">
                        <button id="submitBtn" type="button" class="am-btn am-btn-lg am-btn-success">发稿</button>
                    </div>
                </div>

                <button id="historyBtn" type="button" class="am-btn am-btn-lg am-btn-success">历史记录</button>
                @if (Model.ID.IsNotNullOrEmpty())
                {
                    if (Model.State == NewsState.None)
                    {
                        <div class="am-form-group">
                            <div class="am-u-sm-4 am-u-sm-push-2">
                                <button id="saveBtn" type="button" class="am-btn am-btn-lg am-btn-success">保存</button>
                            </div>
                            <div class="am-u-sm-4">
                                <button id="submitBtn" type="button" class="am-btn am-btn-lg am-btn-success">发稿</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Model.State == NewsState.Reject)
                        {
                            <div class="am-form-group">
                                <div class="am-u-sm-4 am-u-sm-push-2">
                                    <button id="saveBtn" type="button" class="am-btn am-btn-lg am-btn-success">保存</button>
                                </div>
                                <div class="am-u-sm-4">
                                    <button id="submitBtn" type="button" class="am-btn am-btn-lg am-btn-success">发稿</button>
                                </div>
                            </div>
                        }
                        else if (Model.State == NewsState.Pass)
                        {
                            if (admin.RoleID == "e4b25bd5936242698d6eaad7f53aa3e6")
                            {

                                if (Model.AuditState == NewsAuditState.EditorialAudit)
                                {
                                    <div class="am-form-group">
                                        <div class="am-u-sm-5 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-u-sm-6  am-btn-success" id="passBtn">转给稿件审核员</button>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                if ((admin.OperateFlag & (long)OperateFlag.Plush) != 0)
                                {
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-u-end am-form-label">发布渠道</label>
                                        <div class="am-u-sm-9" id="plushFlagDiv">
                                            @if (Model.MethodList != null && Model.MethodList.Count != 0)
                                            {
                                                foreach (var item in Model.MethodList)
                                                {
                                                    <label class="am-checkbox">
                                                        <input type="checkbox" value="@(item.Value)" data-am-ucheck />@item.Text
                                                    </label>
                                                }
                                            }
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-5 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-u-sm-6  am-btn-success" id="plushBtn">发布</button>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else if (Model.State == NewsState.Plush)
                        {
                            if (canEdit)
                            {
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-end am-form-label">发布渠道</label>
                                    <div class="am-u-sm-9" id="plushFlagDiv">
                                        @if (Model.MethodList != null && Model.MethodList.Count != 0)
                                        {
                                            foreach (var item in Model.MethodList)
                                            {
                                                <label class="am-checkbox">
                                                    <input type="checkbox" value="@(item.Value)" data-am-ucheck />@item.Text
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-5 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-u-sm-6  am-btn-success" id="plushBtn">发布</button>
                                    </div>
                                </div>
                            }
                        }
                        else if (Model.State == NewsState.WaitAudit)
                        {
                            if ((admin.OperateFlag & (long)OperateFlag.Audit) != 0 && canEdit)
                            {
                                if (Model.AuditState == NewsAuditState.EditorialAudit)
                                {
                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-3 am-form-label">意见</label>
                                        <div class="am-u-sm-9">
                                            <textarea name="Msg" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        @if (!Model.UserID.Equals(admin.ID))
                                        {
                                            <div class="am-u-sm-3 am-u-sm-push-2">
                                                <button id="rejectBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核驳回</button>
                                            </div>
                                            <div class="am-u-sm-3">
                                                <button id="editorialPassBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核通过</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="am-u-sm-3 am-u-sm-push-2">
                                                <button id="editorialPassBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核通过</button>
                                            </div>
                                        }
                                        <div class="am-u-sm-4">
                                            <button id="passBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核通过(到稿件审核员)</button>
                                        </div>
                                    </div>
                                }
                                else if (Model.AuditState == NewsAuditState.LastAudit)
                                {
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-u-end am-form-label">发布渠道</label>
                                        <div class="am-u-sm-9" id="plushFlagDiv">
                                            @if (Model.MethodList != null && Model.MethodList.Count != 0)
                                            {
                                                foreach (var item in Model.MethodList)
                                                {
                                                    <label class="am-checkbox">
                                                        <input type="checkbox" value="@(item.Value)" data-am-ucheck />@item.Text
                                                    </label>
                                                }
                                            }
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-5 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-u-sm-6  am-btn-success" id="plushBtn">发布</button>
                                        </div>
                                    </div>
                                    
                                        <div class="am-form-group">
                                            <label for="user-email" class="am-u-sm-3 am-form-label">意见</label>
                                            <div class="am-u-sm-9">
                                                <textarea name="Msg" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="am-form-group">
                                            <div class="am-u-sm-4 am-u-sm-push-2">
                                                <button id="passBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核通过</button>
                                            </div>

                                            @if (!Model.UserID.Equals(admin.ID))
                                            {
                                                <div class="am-u-sm-4">
                                                    <button id="rejectBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核驳回</button>
                                                </div>
                                            }
                                        </div>
                                }
                                else
                                {
                                        <div class="am-form-group">
                                            <label for="user-email" class="am-u-sm-3 am-form-label">意见</label>
                                            <div class="am-u-sm-9">
                                                <textarea name="Msg" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="am-form-group">
                                            <div class="am-u-sm-4 am-u-sm-push-2">
                                                <button id="passBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核通过</button>
                                            </div>
                                            @if (!Model.UserID.Equals(admin.ID))
                                            {
                                                <div class="am-u-sm-4">
                                                    <button id="rejectBtn" type="button" class="am-btn am-btn-lg am-btn-success">审核驳回</button>
                                                </div>
                                            }
                                        </div>
                                }
                            }
                        }
                    }
                }
                else
                {
                    <div class="am-form-group">
                        <div class="am-u-sm-4 am-u-sm-push-2">
                            <button id="saveBtn" type="button" class="am-btn am-btn-lg am-btn-success">保存</button>
                        </div>
                        <div class="am-u-sm-4">
                            <button id="submitBtn" type="button" class="am-btn am-btn-lg am-btn-success">发稿</button>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
@if (!isFormPhone)
{
    <script src="~/Scripts/UEditor/ueditor.config.js"></script>
    <script src="~/Scripts/UEditor/ueditor.all.js"></script>
    <script src="~/Scripts/UEditor/ueditor.parse.js"></script>
    <script src="~/Scripts/UEditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        $(function () {
            var txtContentId = $.AMUI.utils.generateGUID("txtContent");
            $(".txtContent").attr("id", txtContentId)
            ue = UE.getEditor(txtContentId);
            ue.addListener("ready", function () {
                // editor准备好之后才可以使用
                ue.setContent('@(Html.Raw(Model?.Content))');
            });
        })
    </script>
}
<script>
    function loadChildren(obj) {
        $.Nuoya.action("/Department/GetSelectItem", { id: $(obj).val() }, function (json) {
            if (json.length > 0) {
                $("#childrenDiv").show();
                $(json).each(function () {
                    $("select[name='ChildrenDepartmentID']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                });
            }
            else {
                $("select[name='ChildrenDepartmentID']").html("");
                $("#childrenDiv").hide();
            }
        });
    }

    function UploadImg() {
        var headimgbtn = $("#imageFile").uploadFile({
            url: '/upload/uploadimage?mark=news',
            fileSuffixs: ["jpg", "png", 'jpeg'],
            maximumFilesUpload: 1,//最大文件上传数
            onComplete: function (data) {
                CloseLoading();
                if (data) {
                    $("#div_imageShow").parents(".am-form-group").show();
                    $("#div_imageShow").append('<img style="width:150px;height:150px;" data-src="'+data+'" src="' + data + '"/>');
                }
                else {
                    alert("上传错误");
                }

            },
            onChosen: function (file, obj, fileSize, errorText) {
                if (errorText) {
                    $.Nuoya.alert(errorText);
                    return false;
                }
                //Loading("图片正在上传中...", "请稍等");
                ShowLoading();
                uploadheadimg.submitUpload();
                return true;//返回false将取消当前选择的文件
            },
        });
        var uploadheadimg = headimgbtn.data("uploadFileData");
    }
    $(function () {

        $("[name='DepartmentFlagSelect']").ztreeSelect($("[name='DepartmentFlag']"), "/Department/GetZTreeChildren", 0, true, true);
        $("#cancleBtn").on("click", function () {
            window.location.href = "/news/admin"
        });


        $("#userInfoSpan").click(function () {
            var id = $(this).attr("userId");
            var isForPhone = '@(isFormPhone ? 1:0)' == "1";

            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                addIframe: true,
                width: (isForPhone ? (($(window).width() - 40) + "px") : "1200px"),
                height: (isForPhone ? (($(window).height() - 300) + "px") : "780px"),
                ajaxUrl: "/Account/Register?info=false&id=" + id,
                title: "作者信息",
                callback: function (e) {
                    $(window.frames["alrtIframe"]).css("width", "90%");
                    $(window.frames["alrtIframe"]).find("input,select").attr("disabled", true);
                    //iframeObj.find("#regForm .main").css("margin-top", "-300px");
                    if (isForPhone) {
                        $(".am-modal-alert").css({ "top": "30%" }, { "left": "10%" });
                        $(".am-text-right").hide();
                    }
                }
            });
        })

        function SavaNews(callback) {
            var id = '@(Model.ID)';
            var title = $("[name='Title']").val();
            if (title == "") {
                $.Nuoya.alert("请填写标题");
                return;
            }
            var newsTypeID = $("[name='NewsTypeID']").val();
            if (newsTypeID == "") {
                $.Nuoya.alert("请选择类型");
                return;
            }
            var departmentID = $("[name='DepartmentID']").val();
            if (departmentID == "" || departmentID == "-1") {
                $.Nuoya.alert("请选择投递部门");
                return;
            }
            var children = $("[name='ChildrenDepartmentID']").val();
            var penName = $("[name='PenName']").val();

            if (!children == false && children != "") {
                departmentID += ";" + children;
            }
            var content = "";
            var imgAry = new Array();
            var isPhone = '@(isFormPhone?1:0)';
            var paths = "";
            if (isPhone == "1") {
                content = $("[name='Content']").text();
            }
            else {
                content = ue.getContent();
            }

            $("#div_imageShow img").each(function () {
                imgAry.push($(this).attr("data-src"));
            })
            paths = imgAry.join(',');
            if (content == "") {
                $.Nuoya.alert("请填写内容");
                return;
            }
            $.Nuoya.action("/News/Update", {
                ID: id,
                Title: title,
                PenName: penName,
                NewsTypeID: newsTypeID,
                DepartmentID: departmentID,
                Paths: paths,
                Content: content,
                isAduit: true,
            }, function (data) {
                callback(data);
            });

        }

        $("#rejectBtn").on("click", function () {

            SavaNews(function () {
                var msg = $("[name='Msg']").val();

                if (msg == "") {
                    $.Nuoya.alert("请输入驳回意见");
                    return;
                }
                $.Nuoya.action("/news/Audit", {
                    isPass: 0,
                    id: '@(Model.ID)',
                    msg: msg
                }, function (data) {
                    if (!data.ErrorDesc) {
                        $.Nuoya.alert("驳回成功");
                        window.location.href = "/news/admin";
                    }
                    else
                        $.Nuoya.alert(data.ErrorDesc);
                });
            });
        });

        $("#passBtn").on("click", function () {
            SavaNews(function () {
                var msg = $("[name='Msg']").val();
                $.Nuoya.action("/news/Audit", {
                    id: '@(Model.ID)',
                    isPass: 1,
                    msg: msg
                }, function (data) {
                    if (!data.ErrorDesc) {
                        $.Nuoya.alert("审核成功");
                        window.location.href = "/news/admin";
                    }
                    else
                        $.Nuoya.alert(data.ErrorDesc);
                });
            });

        });


        $("#editorialPassBtn").on("click", function () {
            var msg = $("[name='Msg']").val();
            $.Nuoya.action("/news/EditorialPass", {
                id: '@(Model.ID)',
                msg: msg
            }, function (data) {
                if (!data.ErrorDesc) {
                    $.Nuoya.alert("审核成功");
                    window.location.href = "/news/admin";
                }
                else
                    $.Nuoya.alert(data.ErrorDesc);
            });
        });



        $("#plushBtn").on("click", function () {
            var msg = $("[name='Msg']").val();
            var plushFlag = 0;
            $("#plushFlagDiv input:checked").each(function () {
                plushFlag = plushFlag | parseInt($(this).val());
            })
            $.Nuoya.action("/news/Plush", {
                id: '@(Model.ID)',
                flag: plushFlag,
                msg: msg
            }, function (data) {
                if (!data.ErrorDesc) {
                    $.Nuoya.alert("发布成功");
                    window.location.href = "/news/admin";
                }
                else
                    $.Nuoya.alert(data.ErrorDesc);
            });
        });

        $("#historyBtn").click(function () {
        });

        $("#saveBtn,#submitBtn").on("click", function () {
             var id = '@(Model.ID)';
            var title = $("[name='Title']").val();
            if (title == "") {
                $.Nuoya.alert("请填写标题");
                return;
            }
            var newsTypeID = $("[name='NewsTypeID']").val();
            var penName = $("[name='PenName']").val();
            var departmentFlag = "";
            var departmentID = $("[name='DepartmentID']").val();
            if (id == "") {
                departmentFlag = $("[name='DepartmentFlag']").val();
                if (departmentFlag == ""||departmentFlag == "0")
                {
                    $.Nuoya.alert("请选择投递部门");
                    return;
                }
            }
            else {
                if (departmentID == "" || departmentID == "-1") {
                    $.Nuoya.alert("请选择投递部门");
                    return;
                }
                var children = $("[name='ChildrenDepartmentID']").val();
                var penName = $("[name='PenName']").val();
                if (!children == false && children != "") {
                    departmentID += ";" + children;
                }
            }
            var content = "";
            var imgAry = new Array();
            var isPhone = '@(isFormPhone?1:0)';
            var paths = "";
            if (isPhone == "1") {
                content = $("[name='Content']").val();
                $("#div_imageShow img").each(function () {
                    imgAry.push($(this).attr("data-src"));
                })
                paths = imgAry.join(',');
            }
            else {
                content = ue.getContent();
            }

            if (content == "") {
                $.Nuoya.alert("请填写内容");
                return;
            }
            var isAduit = $(this).prop("id") == "submitBtn";
            var url = '@(Model.ID.IsNotNullOrEmpty()? "/News/Update" : "/News/Add")';
            $.Nuoya.action(url, {
                ID: id,
                Title: title,
                PenName: penName,
                NewsTypeID: newsTypeID,
                DepartmentID: departmentID,
                Paths: paths,
                Content: content,
                isAduit: isAduit,
                departmentFlag: departmentFlag
            }, function (data) {
                if (!data.ErrorDesc) {
                    $.Nuoya.alert(isAduit ? "投稿成功" : "保存成功");
                    window.location.href = "/news/admin";
                }
                else
                    $.Nuoya.alert(data.ErrorDesc);
            });
        });
        UploadImg();
    });
</script>