@model Tuple<List<SelectItem>, List<SelectItem>>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "地区统计";

}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/home/admin"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>地区统计</small></div>
</div>

<div id="searchDomain">
    <div class="am-g">
        @if (WebHelper.CheckAgent())
        {
            <div class="am-u-lg-12">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label am-margin-left-sm">会员名称</span>
                    <input type="text" class="am-form-field" placeholder="按会员名称搜索"  name="name" ;>
                </div>
            </div>
            <div class="am-u-lg-12">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label am-margin-left-sm">省份</span>
                    <select name="province" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                        <option value="-2">未选择地区</option>
                        @if (Model.Item1 != null && Model.Item1.Count > 0)
                        {
                            foreach (var item in Model.Item1)
                            {
                                if (item.Value!="0")
                                {
                                <option value="@item.Value" @(item.Value == "16" ? "selected" : "")>@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="am-u-lg-12">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label am-margin-left-sm">部门</span>
                    <input type="hidden" name="DepartmentFlag" />
                    <input type="text" class="am-form-field" placeholder="按选择部门" name="DepartmentFlagSelect" />
                </div>
            </div>
            <div class="am-u-lg-12 am-margin-top-sm">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label am-margin-left-sm">渠道</span>
                    <select name="methodFlag" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                        <option value="-1" selected>请选择</option>
                        @if (Model.Item2 != null && Model.Item2.Count > 0)
                        {
                            foreach (var item in Model.Item2) 
                            {
                                <option value="@item.Value" > @item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="am-u-lg-12 am-margin-top-sm">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-btn am-margin-left-sm">
                        <button class="am-btn am-btn-default" onclick="Search()" type="button">搜索</button>
                        <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                    </span>
                </div>
            </div>
        }
        else
        {
            <div class="am-u-lg-12">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label">会员名称：</span>
                    <input type="text" class="am-form-field" placeholder="按会员名称搜索" style="width:100px;" name="name" ;>
                    <span class="am-input-group-label  am-margin-left-sm">省份</span>
                    <select name="province" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;" >
                        <option value="-2">未选择地区</option>
                        @if (Model.Item1 != null && Model.Item1.Count > 0)
                        {
                            foreach (var item in Model.Item1)
                            {
                                if (item.Value != "0")
                                {
                                    <option value="@item.Value" @(item.Value == "16" ? "selected" : "")>@item.Text</option>
                                }
                            }
                        }
                    </select>
                    <span class="am-input-group-label am-margin-left-sm">部门</span>
                    <input type="hidden" name="DepartmentFlag" /> 
                    <input type="text" class="am-form-field" placeholder="按选择部门" name="DepartmentFlagSelect" style="width:300px;" />
                    <span class="am-input-group-label am-margin-left-sm">渠道</span>
                    <select name="methodFlag" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                        <option value="-1" selected>请选择</option>
                        @if (Model.Item2 != null && Model.Item2.Count > 0)
                        {
                            foreach (var item in Model.Item2)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>

                    <span class="am-input-group-label  am-margin-left-sm">搜索日期</span>
                    <input type="text" class="am-form-field" placeholder="请选择日期" name="searchTimeStart" readonly style="width:120px;">
                    <span class="am-input-group-label"> - </span>
                    <input type="text" class="am-form-field" placeholder="请选择日期" name="searchTimeEnd" readonly style="width:120px;">
                    <span class="am-input-group-btn am-margin-left-sm">
                        <button class="am-btn am-btn-default" onclick="Search()" type="button">搜索</button>
                        <button class="am-btn am-btn-default" onclick="Export()" type="button">导出</button>
                        <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                    </span>
                </div>
            </div>
        }
        </div>
    </div>

<div class="am am-margin-top am-margin-left am-margin-right">
    <span class="am-input-group-label am-margin-left-sm" id="searchName"></span>
</div>

<div id="resultDiv">
</div>
    @section scripts
{
        <script>
            var type = 1;
            $("[name='DepartmentFlagSelect']").ztreeSelect($("[name='DepartmentFlag']"), "/Department/GetZTreeChildren", 0, true, true);

            $('[name=searchTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
            $('[name=searchTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });

            function ClearFilter() {
                $("#searchDomain input").val("");
            }
            function Search() {
                $.Nuoya.action("/Statistics/GetAreaList", { province: $("[name='province']").val(), methodFlag: $("[name='methodFlag']").val(), searchTimeEnd: $('[name=searchTimeEnd]').val(), searchTimeStart: $('[name=searchTimeStart]').val(), name: $("[name='name']").val(), departmentFlag: $("[name='DepartmentFlag']").val() }, function (json) {
                        $("#resultDiv").html("");
                        var str = "";
                        var allCount = 0;
                        var passCount = 0;
                        $(json.List).each(function (index, item) {
                            str += "<div class='am-g  am-margin-top am-margin-left am-margin-right'><span class='am-input-group-label am-margin-left-sm am-text-left'><strong>" + item.Name + "</strong> 总投稿数：" + item.AllCount + "通过数：" + item.PassCount + " <a  data-href='" + item.NewsLink + "' onclick='sreachNews(this)'>查看明细</a></span>   </div>";
                            allCount += item.AllCount;
                            passCount += item.PassCount;
                            if (item.Childrens.length > 0) {

                                $(item.Childrens).each(function (y, obj) {
                                    str += "<div class='am-g  am-margin-top am-margin-left-lg am-margin-right'>";
                                    str += "<span class='am-input-group-label am-margin-left-sm am-text-left'><strong class='am-text-warning'>" + obj.Name + "</strong> 总投稿数：" + obj.AllCount + "通过数：" + obj.PassCount + "<a  data-href='" + obj.NewsLink + "' onclick='sreachNews(this)'>查看明细</a></span>";
                                    str += '</div>';
                                    allCount += obj.AllCount;
                                    passCount += obj.PassCount;
                                    if (obj.Childrens.length > 0) {
                                        $(obj.Childrens).each(function (z, temp) {
                                            if (z % 3 == 0 || z == 0) {
                                                str += "<div class='am-g  am-margin-top am-margin-left-lg am-margin-right'><div class='am-u-lg-12 am-u-end'>";
                                            }
                                            allCount += temp.AllCount;
                                            passCount += temp.PassCount;
                                            str += "<span class='am-input-group-label am-margin-left-sm am-text-left'><strong class='am-text-success'>" + temp.Name + "</strong> 总投稿数：" + temp.AllCount + "通过数：" + temp.PassCount + "<a data-href='" + temp.NewsLink + "' onclick='sreachNews(this)'>查看明细</a></span>";
                                            if ((z % 3 == 0 && z != 0) || z == obj.Childrens.length - 1) {
                                                str += '</div></div>';
                                            }
                                        });
                                    }
                                });
                            }
                        });

                        $("#searchName").text(json.Name + " 总投稿数:" + allCount + " 通过数：" + passCount);
                        $("#resultDiv").append(str);
                    });
            }

            function sreachNews(obj)
            {
                window.location.href=$(obj).attr("data-href")+"&name=" + $("[name='name']").val() + "&searchTimeStart=" + $("[name='searchTimeStart']").val() + "&searchTimeEnd=" + $("[name='searchTimeEnd']").val() + "&methodFlag=" + $("[name='methodFlag']").val()+"&departmentFlag="+$("[name='DepartmentFlag']").val();
            }

            Search();
            function loadArea(obj, i) {
                var thatObj = $(obj);
                var value = thatObj.val();
                var nextSelect;
                if (i == 1) {
                    if ($("[name='city']").val() == "0") {
                    }
                    nextSelect = $("[name='city']");
                }
                else if (i == 2) {
                    if ($("[name='county']").val() != "") {
                    }
                    nextSelect = $("[name='county']");
                }
                else if (i == 3) {
                    if ($("[name='county']").val() != "") {
                    }
                    nextSelect = $("[name='street']");
                }
                if (value != "0") {
                    //赋值
                    $.ajax({
                        type: "GET",
                        url: "/area/GetAreaCodeSelectItem",
                        datatype: "json",
                        data: { value: value },
                        success: function (data) {
                            nextSelect.html("");
                            $(data.Result).each(function (index, item) {
                                nextSelect.append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });
                        }
                    });

                }
            }

            function Export() {
                var url = "/Statistics/ExportAreaPageList?province=" + $("[name='province']").val() + "&name=" + $("[name='name']").val() + "&searchTimeStart=" + $("[name='searchTimeStart']").val() + "&searchTimeEnd=" + $("[name='searchTimeEnd']").val() + "&methodFlag=" + $("[name='methodFlag']").val()+"&departmentFlag"+$("[name='DepartmentFlag']").val();
                window.open(url);
            }

        </script>
    }