@model User
@{
    Layout = null;
    var isInfo = Request["info"].IsNotNullOrEmpty();
}

<!DOCTYPE html>
<html>
<head>
    <title>@CustomHelper.GetValue("Website-Titlte") -@(Model.ID.IsNullOrEmpty() ? "注册" : "编辑") </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    @*<meta name="renderer" content="webkit">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Styles/reg.css" rel="stylesheet" />
    <link href="~/Scripts/tipso/css/tipso.min.css" rel="stylesheet" />

    <style>
        .am-text-danger{
            color:red;
        }
    </style>
</head>
<body>
    <div class="main" style="@(isInfo ? "margin:0px; width:100%;height:100%" : "")">
        <div class="header" style="@(isInfo ? "display:none;" : "")">
            <h1>@(Model.ID.IsNullOrEmpty() ? "新用户注册" : "编辑用户信息")</h1>
            @if (Model.ID.IsNullOrEmpty())
            {
                <p class="registered">已有账号?<a href="/account/login">立即登录</a></p>
            }
        </div>
        <form id="regForm">
            <input name="ID" type="hidden" value="@(Model.ID)" />
            <ul class="dataform">
                <li>
                    <lable class="info">用户名:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入用户名" required id="account" name="Account" value="@(Model.Account)" @(Model.ID.IsNotNullOrEmpty() ? "readonly" : "") />
                    <div class="clear"> </div>
                </li>
                @if (Model.ID.IsNullOrEmpty())
                {
                    <li>
                        <lable class="info">密码:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="password" placeholder="请输入密码" required id="password" name="NewPassword" maxlength="12" />
                        <div class="clear"> </div>
                    </li>
                    <li>
                        <lable class="info">确认密码:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="password" placeholder="确认密码" required id="password" name="ConfirmPassword" maxlength="12" />
                        <div class="clear"> </div>
                    </li>
                }
                <li>
                    <lable class="info">邮箱:</lable><input type="text" placeholder="请输入邮箱" name="Email" maxlength="32" value="@(Model.Email)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">真实姓名:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入姓名" required name="RealName" maxlength="32" value="@(Model.RealName)" />
                    <div class="clear"> </div>
                </li>
                @*<li>
                    <lable class="info">见刊笔名:</lable><input type="text" placeholder="请输入见刊笔名"  name="PenName" maxlength="32" value="@(Model.PenName)" />
                    <div class="clear"> </div>
                </li>*@
                <li>
                    <lable class="info">所在地:</lable><input type="text" placeholder="所在地"  name="IDCardAddres" maxlength="256" value="@(Model.IDCardAddres)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">身份证号:</lable><input type="text" placeholder="请输入身份证号"  name="IDCard" maxlength="32" value="@(Model.IDCard)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">单位:</lable><input type="text" placeholder="请输入单位" name="CompanyName" maxlength="32" value="@(Model.CompanyName)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">职位:</lable><input type="text" placeholder="请输入职位" name="Position" maxlength="32" value="@(Model.Position)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">邮编:</lable><input type="text" placeholder="请输入邮编" name="Zipcode" maxlength="32" value="@(Model.Zipcode)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">省:</lable>
                    <select class="area" onchange="loadArea(this)" name="ProvoniceCode">
                        @foreach (var item in Model.ProvinceItems)
                        {
                            <option value="@item.Value" @(Model.ProvoniceCode.IsNotNullOrEmpty() && Model.ProvoniceCode.Equals(item.Value) ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                    @*<input type="text" placeholder="省" required id="account" />*@
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">市:</lable>
                    <select class="area" onchange="loadArea(this)" name="CityCode">
                        @if (Model.CityItems != null && Model.CityItems.Count > 0)
                        {
                            foreach (var item in Model.CityItems)
                            {
                                <option value="@item.Value" @(Model.CityCode.IsNotNullOrEmpty() && Model.CityCode.Equals(item.Value) ? "selected" : "")>@item.Text</option>
                            }
                        }
                    </select>
                    @*<input type="text" placeholder="市" required id="password" />*@
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">县:</lable>
                    <select class="area" onchange="loadArea(this)" name="CountyCode">
                        @if (Model.CountyItems != null && Model.CountyItems.Count > 0)
                        {
                            foreach (var item in Model.CountyItems)
                            {
                                <option value="@item.Value" @(Model.CountyCode.Equals(item.Value) ? "selected" : "")>@item.Text</option>
                            }
                        }
                    </select>
                    @*<input type="text" placeholder="县" required id="account" />*@
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">街道:</lable>
                    <select class="area" name="StreetCode">
                        @if (Model.StreetItems != null && Model.StreetItems.Count > 0)
                        {
                            foreach (var item in Model.StreetItems)
                            {
                                <option value="@item.Value" @(Model.StreetCode.IsNotNullOrEmpty() && Model.StreetCode.Equals(item.Value) ? "selected" : "")>@item.Text</option>
                            }
                        }
                    </select>
                    @*<input type="text" placeholder="街道" required id="password" />*@
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">会员类型:<strong class="am-text-danger am-text-sm">*</strong></lable>
                    <select class="area" name="Code">
                        <option value="4" selected="selected">普通会员</option>
                        <option value="1">协会工作人员</option>
                        <option value="2">协会小组长</option>
                        <option value="3">志愿者</option>
                    </select>
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">通讯地址:</lable><input type="text" placeholder="请输入通讯地址"  name="Addres" maxlength="256" value="@(Model.Addres)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">固定电话:</lable><input type="text" placeholder="请输入固定电话" name="TelePhone" maxlength="15" value="@(Model.TelePhone)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">手机:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入手机" required name="Phone" maxlength="11" value="@(Model.Phone)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">QQ:</lable><input type="text" placeholder="请输入QQ" name="QQ" maxlength="32" value="@(Model.QQ)" />
                    <div class="clear"> </div>
                </li>
                @if (!isInfo||(Request["info"]=="true"))
                {
                    if (Model.ID.IsNotNullOrEmpty())
                    {
                        <button class="submit-btn" onclick="Save()" style="height:50px;margin-left:10%;">保存</button>
                    }
                    else
                    {
                        <li>
                            <lable class="info">验证码:<strong class="am-text-danger am-text-sm">*</strong></lable>
                            <div style="width:70%;float:left;">
                                <input type="text" style="width:56%;" placeholder="请输入验证码" required name="ValiteCode" />
                                <img id="img_code" style="width:30%;height:2rem;float:left;" alt="" title="点击重新获取" src="/account/validatecode" onclick="javascript:$(this).attr('src','/account/validatecode?r='+Math.random());" />
                            </div>
                            <div class="clear"> </div>
                        </li>

                        <label><input type="checkbox" id="checkbox" checked=""><i> </i>同意平台条款</label>
                        <button class="submit-btn" onclick="Submit()">注册</button>
                    }
                    <div class="clear"> </div>
                }
            </ul>
            <div class="clear"> </div>

        </form>

    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/Scripts/Nuoya/nuoya.core.js"></script>
    <script src="~/Scripts/Nuoya/nuoya.form.js"></script>
    <script src="~/Scripts/tipso/js/tipso.js"></script>
    <script type="text/javascript">

        function formInit(dataitem) {
            var id = '@(Model.ID)';
            if (id) {
                $.Nuoya.form("regForm").validate({
                    rules: {
                        Account: {
                            required: true,
                            maxlength: 32
                        },
                        Email: {
                            email: true,
                        },
                        RealName: {
                            required: true,
                            maxlength: 32
                        },
                        PenName: {
                            maxlength: 32
                        },
                        IDCardAddres: {
                            maxlength: 256
                        },
                        IDCard: {
                            maxlength: 18
                        },
                        CompanyName: {
                            maxlength: 64
                        },
                        Position: {
                            maxlength: 32
                        },
                        Zipcode: {
                            maxlength: 32
                        },
                        ProvoniceCode: {
                            required: true
                        },
                        CityCode: {
                            required: true
                        },
                        CountyCode: {
                            required: true
                        },
                        StreetCode: {
                            required: true
                        },
                        Addres: {
                            maxlength: 256
                        },
                        TelePhone: {
                            phone: true,
                            maxlength: 15
                        },
                        Phone: {
                            mobile: true,
                            required: true
                        },
                        Code: {
                            required: true
                        }
                    },
                    messages: {
                        Account: {
                            required: "用户名不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        Email: {
                            maxlength: "最多{0}个字符",
                        },
                        RealName: {
                            required: "真实姓名不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        Code: {
                            required: "会员类型不允许为空",
                        },
                        PenName: {
                            maxlength: "最多{0}个字符"
                        },
                        IDCard: {
                            idCard: "请输入正确的身份证号码",
                        },
                        CompanyName: {
                            maxlength: "最多{0}个字符"
                        },
                        Position: {
                            maxlength: "最多{0}个字符"
                        },

                        ProvoniceCode: {
                            required: "省份不允许为空"
                        },
                        CityCode: {
                            required: "市不允许为空"
                        },
                        CountyCode: {
                            required: "县区不允许为空"
                        },
                        StreetCode: {
                            required: "街道不允许为空"
                        },
                        Zipcode: {
                            maxlength: "最多{0}个字符"
                        },
                        Addres: {
                            required: "通信地址不允许为空",
                        },
                        TelePhone: {
                            maxlength: "最多{0}个字符"
                        },
                        Phone: {
                            required: "手机号不允许为空"
                        }
                    }
                });
            }
            else {
                var id = '@(Model.ID)';
                if(id!='')
                    $("[name='Code']").val('@(Model.Code.GetInt())');
                //添加表单验证
                $.Nuoya.form("regForm").validate({
                    rules: {
                        Account: {
                            required: true,
                            maxlength: 32
                        },
                        NewPassword: {
                            required: true,
                            maxlength: 12
                        },
                        ConfirmPassword: {
                            required: true,
                            maxlength: 12
                        },
                        Email: {
                            maxlength: 32,
                            email: true,
                        },
                        RealName: {
                            required: true,
                            maxlength: 32
                        },
                        PenName: {
                            maxlength: 32
                        },
                        IDCardAddres: {
                            maxlength: 256
                        },
                        IDCard: {
                        },
                        CompanyName: {
                            maxlength: 64
                        },
                        Position: {
                            maxlength: 32
                        },
                        Zipcode: {
                            maxlength: 32
                        },
                        ProvoniceCode: {
                            required: true
                        },
                        CityCode: {
                            required: true
                        },
                        CountyCode: {
                            required: true
                        },
                        StreetCode: {
                            required: true
                        },
                        Addres: {
                            maxlength: 256
                        },
                        TelePhone: {
                            phone: true,
                            maxlength: 15
                        },
                        Phone: {
                            mobile: true,
                            required: true
                        },
                        Code: {
                            required: true
                        }
                    },
                    messages: {
                        Account: {
                            required: "用户名不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        NewPassword: {
                            required: "密码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        ConfirmPassword: {
                            required: "确认密码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        Email: {
                            maxlength: "最多{0}个字符",
                        },
                        RealName: {
                            required: "真实姓名不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        PenName: {
                            maxlength: "最多{0}个字符"
                        },
                        IDCardAddres: {
                            maxlength: "最多{0}个字符"
                        },
                        IDCard: {
                            idCard: "请输入正确的身份证号码",
                        },
                        CompanyName: {
                            maxlength: "最多{0}个字符"
                        },
                        Position: {
                            maxlength: "最多{0}个字符"
                        },
                        Zipcode: {
                            maxlength: "最多{0}个字符"
                        },
                        ProvoniceCode: {
                            required: "省份不允许为空"
                        },
                        CityCode: {
                            required: "市不允许为空"
                        },
                        CountyCode: {
                            required: "县区不允许为空"
                        },
                        StreetCode: {
                            required: "街道不允许为空"
                        },
                        Addres: {
                            maxlength: "最多{0}个字符"
                        },
                        TelePhone: {
                            maxlength: "最多{0}个字符"
                        },
                        Phone: {
                            required: "手机号不允许为空"
                        },
                        Code: {
                            required: "会员类型不允许为空",
                        },
                    }
                });
            }
            //$.Nuoya.action("/Role/GetSelectItem", { id: dataitem ? dataitem.RoleId : "" }, function (json) {
            //    $(json).each(function () {
            //        $("select[name='RoleId']").append("<option " + (this.Selected == true ? "selected" : "") + " value='" + this.Value + "'>" + this.Text + "</option>");
            //    });
            //});
            //$.Nuoya.action("/Department/GetSelectItem", { id: dataitem ? dataitem.DepartmentID : "" }, function (json) {
            //    $(json).each(function () {
            //        $("select[name='DepartmentID']").append("<option " + (this.Selected == true ? "selected" : "") + " value='" + this.Value + "'>" + this.Text + "</option>");
            //    });
            //});
        }

        function loadArea(obj) {
            var thatObj = $(obj);
            var value = thatObj.val();

            var nextSelect = thatObj.parent().next().find("select");
            if (value != "0") {
                //赋值
                $.ajax({
                    type: "GET",
                    url: "/area/GetAreaCodeSelectItem",
                    datatype: "json",
                    data: { value: value },
                    success: function (data) {
                        nextSelect.html("");
                        $(data.Result).each(function (index, item) {
                            nextSelect.append("<option value='" + item.Value + "' selected>" + item.Text + "</option>");
                        });
                    }
                });

            }
        }

        $("#checkbox").click(function () {
            if ($(this).is(":checked")) {
                $(".submit-btn").attr("disabled", false);
            }
            else {
                $(".submit-btn").attr("disabled", true);
            }
        })

        formInit();
        function Submit() {
            if ($("#regForm [name='IDCard']").val() != "") {
                if (!/^\d{17}(\d|x)$/i.test($("#regForm [name='IDCard']").val())) {
                    alert("你输入的身份证长度或格式错误")
                    return false;
                }
            }
                $.Nuoya.form("regForm").ajaxSubmit({
                    ajaxUrl: "/Account/Register",
                    callback: function (data) {
                        if (!data.ErrorDesc) {
                            window.location.href = "/home/index";
                        }
                        else {
                            alert(data.ErrorDesc);
                        }
                        return;
                    }
                });

        }
        function Save() {
            if ($("#regForm [name='IDCard']").val() != "") {
                if (!/^\d{17}(\d|x)$/i.test($("#regForm [name='IDCard']").val())) {
                    alert("你输入的身份证长度或格式错误")
                    return false;
                }
            }
            $.Nuoya.form("regForm").ajaxSubmit({
                ajaxUrl: "/Account/Save",
                callback: function (data) {
                    if (!data.ErrorDesc) {
                        alert("修改成功");
                        window.location.href = "/home/index";
                    }
                    else {
                        alert(data.ErrorDesc);
                    }
                    return;
                }
            });
        }
    </script>

</body>
</html>          